:root {
	--main-color: #ffffff;
	--main-background: #141414;
	--accent-color: #e0cb0b;
	--border-size: 3px;
	--header-line-height: 50px;
	--character-cell-size: 50px;
}
button,
.button {
	color: var(--main-color);
}
button.button-primary, 
.button.button-primary {
	color: var(--main-background);
	border-color: var(--accent-color);
	background-color: var(--accent-color);
}
button:hover,
.button:hover {
	color: #aaa;
	border-color: #aaa;
}
button.button-primary:hover,
.button.button-primary:hover {
	color: black;
	border-color: #ece071;
	background-color: #ece071;
}


/* 【 Ａｅｓｔｅｔｈｉｃ 】
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.acrylic {
	backdrop-filter: blur(5px);
	background-color: #14141488;
}
@-moz-document url-prefix(){
	.acrylic { /* Disable acrylic in Firefox*/
		background-color: var(--main-background);
	}
}


/* Generic helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.border.top {
	border-bottom: var(--border-size) solid var(--accent-color);
	border-radius: 0 0 var(--border-size) var(--border-size);
}
.border.bottom {
	border-top: var(--border-size) solid var(--accent-color);
	border-radius: var(--border-size) var(--border-size) 0 0;
}


/* Headers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
	font-weight: bold;
}
.header a,
.header button {
	transition: color 0.1s, background-color 0.1s;
	color: var(--main-color);
}
.header a:hover,
.header button:hover {
	color: #000f;
	background-color: var(--accent-color);
}
.sticky.top { margin-bottom: 20px; }
.sticky.bottom { margin-top: 20px; }
.header.bottom { font-weight: normal; }
.header.bottom img {
	height: calc(  var(--header-line-height)  *  0.7  );
	padding: calc(  var(--header-line-height)  *  0.3 / 2  );
}


/* Bottom Header Buttons, wow this is overcomplicated
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header.bottom button{
	height: 40px;
	border-radius: 3px;
	transition: background-position ease 0.3s;
	
	color: white;
	background: #222; /* fallback if gradients dont work */
	border: 2px solid #040404;
	margin: 0;
  }
  
  .header.bottom button.left{
	background: linear-gradient(138deg, rgba(241,229,133,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 7%, rgba(224,203,11,1) 13%, rgba(224,203,11,1) 33%, rgba(116,106,14,1) 37%, var(--main-background) 60%); 
	text-align: left;
	  background-size:400%;
	background-position:100%;
  }
  .header.bottom button.right{
	background: linear-gradient(222deg, rgba(241,229,133,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 7%, rgba(224,203,11,1) 13%, rgba(224,203,11,1) 33%, rgba(116,106,14,1) 37%, var(--main-background) 60%); 
	text-align: right;
	  background-size:400%;
	background-position:0%;
  }
  
  
  .header.bottom button:hover{
	background-position:0%;
	color: black;
  }
  .header.bottom button.right:hover{
	background-position:100%;
  }
  
  .header.bottom button::before,
  .header.bottom button::after{
	color: black !important;
	opacity: 0;
	transition: opacity ease 0.3s;
  }
  
  .header.bottom button.open::before,
  .header.bottom button.open::after  {
	content: "▲";
  }
  .header.bottom button.close::before,
  .header.bottom button.close::after{
	content: "▼";
  }
  
  .header.bottom button.left:hover::before,
  .header.bottom button.right:hover::after{
	opacity: 1;
  }
  .header.bottom button:active{
	  background: black;
	  color: white;
  }


/* Character list
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.character-cell,
.character-cell:focus {
	color:var(--main-color);
	margin: 2px;
	border: 1px solid #fff3;
	border-radius: 6px;
	font-size: 3rem;
	transition: border-width 0.1s, background-color 0.1s, color 0.1s;
}
.character-cell:hover {
	/*This selector overrides the look coming from buttons.*/
	border-color: var(--accent-color);
	border-width: 3px;
	border-style: hidden solid;
	color: var(--main-color);
	background-color: #000c;
}
.character-cell:active {
	background-color: var(--accent-color);
	color:var(--main-background);
}
.character-line {
	margin: 15px 0;
}
.category-name {
	color: var(--main-color);
	opacity: 0.5;
	font-size: 3rem;
	text-align: right;
	z-index: -1;

	margin-bottom: -10px;
	border-bottom: 2px solid var(--main-color);
}


/* "Copied!" popup text when you click on a button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.copied-popup-container div {
	transition: opacity .3s, bottom .3s;

	background-color: var(--accent-color);
	padding: 10px;
	color: black;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 50px;
	
	/*This style determines how the element looks at the end of the "hiding" transition.*/
	bottom: 5em;
}


/* Hints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hints-container *{
	transition: background-color 0.2s, color 0.2s;
}
.hints-container p{
	transition: background-color 0.2s, color 0.2s, background-position 0.3s;
	padding: 20px;
	margin-bottom: 0;
	border-radius: 10px 10px 0 0;
	font-weight: bold;
	min-height: 3.3em;

	background-attachment: local;
	background-clip: padding-box;
	background-color: #222;
	background-image: url("../Components/CharacterList/hint-example.png");
	background-position: center right 6%;
	background-repeat: no-repeat;
	background-size: contain;
}

/*Duplicate selector, split for correct priorities*/
.hints-container:active .hints-button::after{ content: ""; }
.hints-button::after {
	content: " »";
	position: relative;
	transition: left 1s;
	left: 0;
}
.hints-button span {
	position: absolute;
	right: 10px;
	background: none;
}

@media (min-width: 1000px) { 
	/* Enable Hover on PC */
	.hints-container:hover p{ 
		background-position: center right 9%;
		background-color: #272727;
	}
	.hints-container:hover .hints-button{ 
		animation: woosh 1s linear 0s infinite forwards; 
	}
	.hints-container:hover .hints-button::after {
		left: 100px;
	}
	/* When leaving hover, reverse the arrow */
	.hints-container:active .hints-button::after{ content: " «"; }
}
/*Duplicate selector, split for correct priorities*/
.hints-container:active .hints-button::after{ left: 0; }
.hints-container:active p{
	color: white ;
	background-color: black ;
	background-position: center right -100%; 
}
.hints-container:active .hints-button{ 
	color: white ;
	background: none; /*or else the gradient overrides the black color*/
	background-color: black ;
	animation: none;
}

.hints-button {
	cursor: pointer;
	color: var(--main-background);
	background-color: var(--accent-color);
	border-radius: 0 0 10px 10px;
	padding: 0 10px;
	position: relative;
	right: 0;
	
	background: linear-gradient(90deg, var(--accent-color) 50%, white,var(--accent-color) 100%); 
	background-size:200% ;
	background-position: 0%;
}
@keyframes woosh{
  from{background-position:200%;}
  to  {background-position:0%;}
}